
        <div class="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h2 class="text-capitalize">A relief organisation for refugees</h2>
                        <p class="margin-b-0">
                            Our ethos is to reduce dependency of refugees on relief aid and provide long term development solutions.
                        </p>
                    </div>
                    <div class="col-md-4 text-center col-sm-12">
                        <div class="space-20"></div>
                        <a href="/contacts/new" class="btn btn-lg btn-white-bg">Want to Donate</a>
                    </div>
                </div>
            </div>
        </div>
        <!--end cta-->
        <div class="space-80"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <div class="center-title">
                        <h3>Our core expertise</h3>
                        <p>
                            Below are the causes that RAD is involved in. These causes are all geared towards providing 
                            long term solutions to refugees so they can be resettled in a safe and progressive environment.
                        </p>
                    </div>
                </div>
            </div><!--end center title-->
            <div class="row">
                <div class="causes-slider owl-arrows-slider">
                    <div class="item">
                        <div class="causes-box">
                            <div class="causes-thumb">
                                <!-- <span class="image-badge">194 Day left</span> -->
                                <img src="https://s3.us-east-2.amazonaws.com/raduganda/legal.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="causes-desc">
                                <h4><a href="#">Legal Advocacy.</a></h4>
                                <div class="progress clearfix">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                                </div>
                                <div class="row causes-amount">
                                    <!-- <div class="col-xs-6"> 
                                        <span>Raised</span>
                                        <h1>UGX 4,000,000</h1>
                                    </div>-->
                                    <!--<div class="col-xs-6">
                                        <span>Goal</span>
                                        <h1>UGX 20,000,000</h1>
                                    </div>-->
                                </div>
                                <p>
                                    Refugees face an immense legal challenges while in the host countries due to the differences in the legal systems of their
                                    home countries vs their host countries. At Rad we have an experienced legal team that sensitizes refugees in their rights
                                    and freedoms. We assist refugees who violet the law to obtain police bond, advocate for better bail conditions for refugees
                                    awaiting trial in courts of law. Our legal team also helps refugees who have businesses in Uganda to register them with Uganda
                                    Registration Services Bureau (URSB). We also engage with stakeholders to ensure that refugees obtain justice whenever their
                                    rights are violated especially in unscrupulous tenancy agreements.
                                </p>
                                <a href="/contacts/new" class="btn btn-theme-bg">Contact Us.</a>
                            </div>
                        </div><!--end causes box-->
                    </div><!--end causes item-->
                    <div class="item">
                        <div class="causes-box">
                            <div class="causes-thumb">
                                <!-- <span class="image-badge">194 Day left</span> -->
                                <img src="https://s3.us-east-2.amazonaws.com/raduganda/research_consultancy.jpeg" alt="" class="img-responsive">
                            </div>
                            <div class="causes-desc">
                                <h4><a href="#">Research consultancy</a></h4>
                                <div class="progress clearfix">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                                </div>
                                <div class="row causes-amount">
                                    <!--<div class="col-xs-6">
                                        <span>Raised</span>
                                        <h1>UGX 7,000,000</h1>
                                    </div>-->
                                    <!--<div class="col-xs-6">
                                        <span>Goal</span>
                                        <h1>UGX 40,000,000</h1>
                                    </div>-->
                                </div>
                                <p>
                                     At RAD-Uganda we pride in providing the best research consultancy services for organizations dealing with psychosocial,
                                    legal protection, gender based violence and HIV programing in Uganda. With a program staff of experts with over 15 years
                                    in USAID and UKAID grant management both at implementation and management level we ensure that work done is from both a practitioner
                                    and Donner point of view. We conduct both midterm and end of project evaluations and on going program support activities
                                    for organizations in distress.  
                                </p>
                                <a href="/contacts/new" class="btn btn-theme-bg">COntact Us.</a>
                            </div>
                        </div><!--end causes box-->
                    </div><!--end causes item-->
                    <div class="item">
                        <div class="causes-box">
                            <div class="causes-thumb">
                                <!-- <span class="image-badge">194 Day left</span> -->
                                <img src="https://s3.us-east-2.amazonaws.com/raduganda/educational_tours.jpeg" alt="" class="img-responsive">
                            </div>
                            <div class="causes-desc">
                                <h4><a href="#">Educational tours and student placement services.</a></h4>
                                <div class="progress clearfix">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                                </div>
                                <div class="row causes-amount">
                                    <!--<div class="col-xs-6">
                                        <span>Raised</span>
                                        <h1>UGX 16,000,000</h1>
                                    </div>
                                    <div class="col-xs-6">
                                        <span>Goal</span>
                                        <h1>UGX 50,000,000</h1>
                                    </div>-->
                                </div>
                                <p>
                                     Are you a Grad or post grad student interested in conducting your study in Uganda and the Great lakes region of East Africa?
                                    Search no more because we get you all legal requirements and government approval documentation before you are on ground to
                                    enable you minimize time wastage and unnecessary cost. We shall ensure you get placement if needed to organizations relevant
                                    to your study area and to rap it up you will never leave the pearl of Africa without touring our beautifully county through
                                    of RAD tours that provides budget services you will never get anywhere else. All this as you contribute to supporting RAD
                                    activities for refugee programs.
                                </p>
                                <a href="/contacts/new" class="btn btn-theme-bg">Contact Us.</a>
                            </div>
                        </div><!--end causes box-->
                    </div><!--end causes item-->
                    </div><!--end causes item--> -->
                </div><!--end causes slider-->
            </div>
        </div>
        <div class="space-50"></div>

        <div class="counter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 margin-b-30 text-center">
                        <i class="flaticon-cash-box"></i>
                        <h1 class="text-white counter-digit">451458</h1>
                        <span>Donate</span>
                    </div>
                    <div class="col-sm-6 col-md-3 margin-b-30 text-center">
                        <i class="flaticon-happy-kids"></i>
                        <h1 class="text-white counter-digit">5425</h1>
                        <span>Volunteers</span>
                    </div>
                    <div class="col-sm-6 col-md-3 margin-b-30 text-center">
                        <i class="flaticon-school"></i>
                        <h1 class="text-white counter-digit">2541</h1>
                        <span>Projects</span>
                    </div>
                    <div class="col-sm-6 col-md-3 margin-b-30 text-center">
                        <i class="flaticon-gift"></i>
                        <h1 class="text-white counter-digit">8475</h1>
                        <span>Gifts</span>
                    </div>
                </div>
            </div>
        </div><!--end counters-->

        <!--<div class="stories">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="center-title">
                            <h3>Successful stories</h3>
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatudolorem ipsum quia dolo  voluptate velit esse cillum dolore eu fugiat
                            </p>
                        </div>
                    </div>
                </div>--><!--end center title-->
                <!--<div class="row">
                    <div class="col-sm-4 margin-b-30">
                        <div class="story-box">
                            <p class="story-text">
                                " Save the life is Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. "
                            </p>
                            <div class="story-info">
                                <img src="images/team-1.jpg" alt="" class="img-responsive img-circle" width="50">
                                <span>Nikita Miller - <em>Assan inc.</em></span>
                            </div>
                        </div>
                    </div>--><!--end col-->
                    <!--<div class="col-sm-4 margin-b-30">
                        <div class="story-box">
                            <p class="story-text">
                                " Save the life is Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. "
                            </p>
                            <div class="story-info">
                                <img src="images/team-2.jpg" alt="" class="img-responsive img-circle" width="50">
                                <span>Dwayne Smith - <em>Assan inc.</em></span>
                            </div>
                        </div>
                    </div>--><!--end col-->
                    <!--<div class="col-sm-4 margin-b-30">
                        <div class="story-box">
                            <p class="story-text">
                                " Save the life is Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. "
                            </p>
                            <div class="story-info">
                                <img src="images/team-3.jpg" alt="" class="img-responsive img-circle" width="50">
                                <span>John Doe - <em>Assan inc.</em></span>
                            </div>
                        </div>
                    </div>--><!--end col-->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> --><!--end of stories-->

        <div class="parallax-bg pd-t-80 pd-b-50" style="background: url('images/bg1.jpg');">
            <div class='container'>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="center-title">
                            <h3 class="text-white">How you could help</h3>
                            <p class="text-white">
                                At RAD we are welcome to anyone who would like to offer their time money and whatever else they can help with to make our cause a success.
                            </p>
                        </div>
                    </div>
                </div><!--end center title-->
                <div class="row">
                    <div class="col-sm-4 margin-b-30">
                        <div class="icon-box">
                            <i class="flaticon-money"></i>
                            <h3 class="text-capitalize"> Student placements</h3>
                            <p>
                                With students placements we offer expiriencial learning to stundents as exchange programmes to students with different organisations,as internships.
                            </p>
                            <br>
                            <a href="/contacts/new" class="btn btn-theme-bg">Contact Us Now</a>
                        </div><!--end icon box-->
                    </div>
                    <div class="col-sm-4 margin-b-30">
                        <div class="icon-box">
                            <i class="flaticon-happy-kids"></i>
                            <h3 class="text-capitalize"> Become volunteer</h3>
                            <p>
                                Refugee Advocacy For Development curently has vacancies for volunteers to join our organisation,kindly click on the application form to submit applications.
                            </p>
                            <br>
                            <a href="/contacts/new" class="btn btn-theme-bg">Contact Us Now</a>
                        </div><!--end icon box-->
                    </div>
                    <div class="col-sm-4 margin-b-30">
                        <div class="icon-box">
                            <i class="flaticon-gift"></i>
                            <h3 class="text-capitalize">Educators</h3>
                            <p>
                                We organise eductional tours for students to national parks.cultural heritage sites, demonstration farms.
                            </p>
                            <br>
                            <a href="/contacts/new" class="btn btn-theme-bg">Contact Us Now</a>
                        </div><!--end icon box-->
                    </div>
                </div>
            </div>
        </div><!--help type section end-->
        <div class="white-bg pd-t-80 pd-b-30">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="center-title">
                            <h3>Become a volunteer</h3>
                            <p>
                                Refugee Advocacy For Development curently has vacancies for volunteers to join our organisation,kindly click on the application form to submit applications.
                            </p>
                            <br>
                            <a href="/contacts/new" class="btn btn-theme-bg btn-lg">Join us now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
