
        <div class="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h2 class="text-capitalize">A relief organisation for refugees</h2>
                        <p class="margin-b-0">
                            Our ethos is to reduce dependency of refugees on relief aid and provide long term development solutions.
                        </p>
                    </div>
                    <div class="col-md-4 text-center col-sm-12">
                        <div class="space-20"></div>
                        <a href="/contacts/new" class="btn btn-lg btn-white-bg">Want to Donate</a>
                    </div>
                </div>
            </div>
        </div>
        <!--end cta-->
        <div class="space-80"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <div class="center-title">
                        <h3>Featured causes</h3>
                        <p>
                            Below are the causes that RAD is involved in. These causes are all geared towards providing long term solutions to refugees so they can be resettled in a safe and progressive environment.
                        </p>
                    </div>
                </div>
            </div><!--end center title-->
            <div class="row">
                <div class="causes-slider owl-arrows-slider">
                    <div class="item">
                        <div class="causes-box">
                            <div class="causes-thumb">
                                <span class="image-badge">194 Day left</span>
                                <img src="images/img1.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="causes-desc">
                                <h4><a href="#">Legal community representation.</a></h4>
                                <div class="progress clearfix">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                                </div>
                                <div class="row causes-amount">
                                    <div class="col-xs-6">
                                        <span>Raised</span>
                                        <h1>UGX 4,000,000</h1>
                                    </div>
                                    <div class="col-xs-6">
                                        <span>Goal</span>
                                        <h1>UGX 20,000,000</h1>
                                    </div>
                                </div>
                                <p>
                                    The big partners look at high level legal advocacy geared towards resettlement as a durable solution yet on a daily basis refugees face problems of tenancy agreements that are fraudulent, arrests and extortion by police and unpaid for labour services. These minor as they may look severely affect the finances of refugees at household level. With our team of all members being lawyers we ensure that justice is served.
                                </p>
                                <a href="/contacts/new" class="btn btn-theme-bg">Donate Now</a>
                            </div>
                        </div><!--end causes box-->
                    </div><!--end causes item-->
                    <div class="item">
                        <div class="causes-box">
                            <div class="causes-thumb">
                                <span class="image-badge">194 Day left</span>
                                <img src="images/img2.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="causes-desc">
                                <h4><a href="#">Household income generation</a></h4>
                                <div class="progress clearfix">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                                </div>
                                <div class="row causes-amount">
                                    <div class="col-xs-6">
                                        <span>Raised</span>
                                        <h1>UGX 7,000,000</h1>
                                    </div>
                                    <div class="col-xs-6">
                                        <span>Goal</span>
                                        <h1>UGX 40,000,000</h1>
                                    </div>
                                </div>
                                <p>
                                    Household income generation, through women’s groups that are doing small scale activities that we feel we can develop further. These businesses are informal and unregistered. We Help these business get registered and in particular we want to develop a sim sim nutritional bar that could be used to fight malnutrition. Improve it to marketable level to other markets within the region.
                                </p>
                                <a href="/contacts/new" class="btn btn-theme-bg">Donate Now</a>
                            </div>
                        </div><!--end causes box-->
                    </div><!--end causes item-->
                    <div class="item">
                        <div class="causes-box">
                            <div class="causes-thumb">
                                <span class="image-badge">194 Day left</span>
                                <img src="images/img3.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="causes-desc">
                                <h4><a href="#">Educational tours and placements</a></h4>
                                <div class="progress clearfix">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                                </div>
                                <div class="row causes-amount">
                                    <div class="col-xs-6">
                                        <span>Raised</span>
                                        <h1>UGX 16,000,000</h1>
                                    </div>
                                    <div class="col-xs-6">
                                        <span>Goal</span>
                                        <h1>UGX 50,000,000</h1>
                                    </div>
                                </div>
                                <p>
                                    The third and most crucial is the educational tours and student placements coupled with research consultancy. These are what we look forward to as our sources of funding. Unlike the tendency of NGO’s to write proposals and keep begging for money, and when the funding runs out the project and NGO vanishes. our idea is to charge a few shillings for students that want to get experiential learning since we have the links to most NGO’s and government officials and do placements.
                                </p>
                                <a href="/contacts/new" class="btn btn-theme-bg">Donate Now</a>
                            </div>
                        </div><!--end causes box-->
                    </div><!--end causes item-->
                    <div class="item">
                        <div class="causes-box">
                            <div class="causes-thumb">
                                <span class="image-badge">194 Day left</span>
                                <img src="images/img2.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="causes-desc">
                                <h4><a href="#">Relief Awards</a></h4>
                                <div class="progress clearfix">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                                </div>
                                <div class="row causes-amount">
                                    <div class="col-xs-6">
                                        <span>Raised</span>
                                        <h1>UGX 25,000,000</h1>
                                    </div>
                                    <div class="col-xs-6">
                                        <span>Goal</span>
                                        <h1>UGX 40,000,000</h1>
                                    </div>
                                </div>
                                <p>
                                    Lastly as an advocacy and marketing tool we are planning to organize the RELIEF AWARDS for all organizations and staff that work in the Relief sector in Uganda.  This is an annual event that we use as a fundraising event for RAD.       
                                </p>
                                <a href="/contacts/new" class="btn btn-theme-bg">Donate Now</a>
                            </div>
                        </div><!--end causes box-->
                    </div><!--end causes item-->
                <!--     <div class="item">
                        <div class="causes-box">
                            <div class="causes-thumb">
                                <span class="image-badge">194 Day left</span>
                                <img src="images/img3.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="causes-desc">
                                <h4><a href="#">Charity for education</a></h4>
                                <div class="progress clearfix">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                                </div>
                                <div class="row causes-amount">
                                    <div class="col-xs-6">
                                        <span>Raised</span>
                                        <h1>$25,142</h1>
                                    </div>
                                    <div class="col-xs-6">
                                        <span>Goal</span>
                                        <h1>$10,0000</h1>
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, eu qui modo expeten dis reformidans, ex sit appetere sententiae.
                                </p>
                                <a href="#" class="btn btn-theme-bg">Donate Now</a>
                            </div>
                        </div><!--end causes box-->
                    </div><!--end causes item--> -->
                </div><!--end causes slider-->
            </div>
        </div>
        <div class="space-50"></div>

        <div class="counter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 margin-b-30 text-center">
                        <i class="flaticon-cash-box"></i>
                        <h1 class="text-white counter-digit">451458</h1>
                        <span>Donate</span>
                    </div>
                    <div class="col-sm-6 col-md-3 margin-b-30 text-center">
                        <i class="flaticon-happy-kids"></i>
                        <h1 class="text-white counter-digit">5425</h1>
                        <span>Volunteers</span>
                    </div>
                    <div class="col-sm-6 col-md-3 margin-b-30 text-center">
                        <i class="flaticon-school"></i>
                        <h1 class="text-white counter-digit">2541</h1>
                        <span>Projects</span>
                    </div>
                    <div class="col-sm-6 col-md-3 margin-b-30 text-center">
                        <i class="flaticon-gift"></i>
                        <h1 class="text-white counter-digit">8475</h1>
                        <span>Gifts</span>
                    </div>
                </div>
            </div>
        </div><!--end counters-->

        <div class="stories">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="center-title">
                            <h3>Successful stories</h3>
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatudolorem ipsum quia dolo  voluptate velit esse cillum dolore eu fugiat
                            </p>
                        </div>
                    </div>
                </div><!--end center title-->
                <div class="row">
                    <div class="col-sm-4 margin-b-30">
                        <div class="story-box">
                            <p class="story-text">
                                " Save the life is Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. "
                            </p>
                            <div class="story-info">
                                <img src="images/team-1.jpg" alt="" class="img-responsive img-circle" width="50">
                                <span>Nikita Miller - <em>Assan inc.</em></span>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-4 margin-b-30">
                        <div class="story-box">
                            <p class="story-text">
                                " Save the life is Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. "
                            </p>
                            <div class="story-info">
                                <img src="images/team-2.jpg" alt="" class="img-responsive img-circle" width="50">
                                <span>Dwayne Smith - <em>Assan inc.</em></span>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-4 margin-b-30">
                        <div class="story-box">
                            <p class="story-text">
                                " Save the life is Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. "
                            </p>
                            <div class="story-info">
                                <img src="images/team-3.jpg" alt="" class="img-responsive img-circle" width="50">
                                <span>John Doe - <em>Assan inc.</em></span>
                            </div>
                        </div>
                    </div><!--end col-->
                </div>
            </div>
        </div><!--end stories-->

        <div class="parallax-bg pd-t-80 pd-b-50" style="background: url('images/bg1.jpg');">
            <div class='container'>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="center-title">
                            <h3 class="text-white">How you could help</h3>
                            <p class="text-white">
                                At RAD we are welcome to anyone who would like to offer their time money and whatever else they can help with to make our cause a success.
                            </p>
                        </div>
                    </div>
                </div><!--end center title-->
                <div class="row">
                    <div class="col-sm-4 margin-b-30">
                        <div class="icon-box">
                            <i class="flaticon-money"></i>
                            <h3 class="text-capitalize"> Student placements</h3>
                            <p>
                                With students placements we offer expiriencial learning to stundents as exchange programmes to students with different organisations,as internships.
                            </p>
                            <br>
                            <a href="/contacts/new" class="btn btn-theme-bg">Donate Now</a>
                        </div><!--end icon box-->
                    </div>
                    <div class="col-sm-4 margin-b-30">
                        <div class="icon-box">
                            <i class="flaticon-happy-kids"></i>
                            <h3 class="text-capitalize"> Become volunteer</h3>
                            <p>
                                Refugee Advocacy For Development curently has vacancies for volunteers to join our organisation,kindly click on the application form to submit applications.
                            </p>
                            <br>
                            <a href="/contacts/new" class="btn btn-theme-bg">Donate Now</a>
                        </div><!--end icon box-->
                    </div>
                    <div class="col-sm-4 margin-b-30">
                        <div class="icon-box">
                            <i class="flaticon-gift"></i>
                            <h3 class="text-capitalize">Educators</h3>
                            <p>
                                We organise eductional tours for students to national parks.cultural heritage sites, demonstration farms.
                            </p>
                            <br>
                            <a href="/contacts/new" class="btn btn-theme-bg">Donate Now</a>
                        </div><!--end icon box-->
                    </div>
                </div>
            </div>
        </div><!--help type section end-->
        <div class="white-bg pd-t-80 pd-b-30">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="center-title">
                            <h3>Become a volunteer</h3>
                            <p>
                                Refugee Advocacy For Development curently has vacancies for volunteers to join our organisation,kindly click on the application form to submit applications.
                            </p>
                            <br>
                            <a href="/contacts/new" class="btn btn-theme-bg btn-lg">Join us now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
