<div class="space-80"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <div class="center-title">
        <h3>Who we are?</h3>
        <p>
          <strong>RAD Uganda is an organization built upon strong Christian values. Motivated and graced to cater for abandoned children, neglected children and orphans.
          Furthermore provide rehabilitation facilities for teenagers not above 18 years of age.</strong>
        </p>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="icon-box2 clearfix">
        <i class="flaticon-dog-pawprint"></i>
        <div class="content">
          <h4 class="text-uppercase">Charity foundation</h4>
          <p>
             <strong>This foundation takes full responsibility of these children by providing medical care, food, clothing and beddings and shelter.
             In addition, we offer full psychosocial support to reduce stigma associated with these children through our Rehabilitation Centre by having private counseling sessions, yoga classes, Bible Study to mention but a few.
             RAD Uganda are appealing to all of you out there who would love to stretch a hand and help a child by contributing towards shelter, medical care, clothing, beddings, food and general welfare.</strong>

          </p>
        </div>
      </div><!--end icon-box-->

    </div>
    <div class="col-sm-6">
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="/images/img1.jpg"></iframe>
      </div>
    </div>
  </div>
  <div class="space-50"></div>
  <div class="row">
    <div class="col-sm-12 margin-b-30">
      <h4 class="text-uppercase" style="text-align: center;">Our Mission</h4>
      <p class="lead" style="text-align: center">
        <strong>To protect and care for our nation’s children with love and hope for a better future.</strong>
      </p>
    </div>
  </div>
</div>
<div class="space-50"></div>
<div class="counter">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 margin-b-30 text-center">
        <i class="flaticon-cash-box"></i>
        <h1 class="text-white counter-digit">451458</h1>
        <span>Donate</span>
      </div>
      <div class="col-sm-6 col-md-3 margin-b-30 text-center">
        <i class="flaticon-happy-kids"></i>
        <h1 class="text-white counter-digit">5425</h1>
        <span>Volunteers</span>
      </div>
      <div class="col-sm-6 col-md-3 margin-b-30 text-center">
        <i class="flaticon-school"></i>
        <h1 class="text-white counter-digit">2541</h1>
        <span>Projects</span>
      </div>
      <div class="col-sm-6 col-md-3 margin-b-30 text-center">
        <i class="flaticon-gift"></i>
        <h1 class="text-white counter-digit">8475</h1>
        <span>Gifts</span>
      </div>
    </div>
  </div>
</div><!--end counters-->

<div class="space-80"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <div class="center-title">
        <h3>Our Team</h3>
        <p class="lead">
          <strong>Our RAD team that makes it happen day in day out making a difference in the livelihoods of refugees in Uganda.</strong>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4 margin-b-30">
      <div class="volunteer-box">
        <img src="/images/jonpaul.jpg" alt="" class="img-responsive">
        <div class="volunteer-desc">
          <h4 class="text-uppercase">AGABA JOHNPAUL</h4>
          <span>Founder</span>
          <p>
            <strong>Is a lawyer, social worker and team leader of RAD. He has vast experience working with the refugee programs in Uganda for the past 15 years in Uganda with international organizations like International Rescue Committee IRC, International Medical Corps IMC and the Pan African Development Education and Advocacy Program. He brings a lot of experience from both the refugee settlements where he worked as field and program coordinator for the PEPFER/USAID projects for
              8 years and as programs manager of the urban refugee programs of PADEAP UG.</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 margin-b-30">
      <div class="volunteer-box">
        <img src="/images/levis.jpg" alt="" class="img-responsive">
        <div class="volunteer-desc">
          <h4 class="text-uppercase">KARUGABA LEVIS</h4>
          <span>Founder</span>
          <p>
            <strong>
            Is a lawyer and Programs Director at RAD, Levis has worked as head of Red Cross volunteer services in the slums of Kibuli and worked on several research projects in the refugee population in Kampala and Nakivale in Isingiro. He is a strong advocate for people’s rights and has initiated several community legal awareness initiatives like the rights for widows’ online legal platform.
            Don’t be fooled by his size he defends the marginalized rights ferociously</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 margin-b-30">
      <div class="volunteer-box">
        <img src="/images/phiona.jpg" alt="" class="img-responsive">
        <div class="volunteer-desc">
          <h4 class="text-uppercase">ABASA PHIONAH</h4>
          <span>Founder</span>
          <p>
            <strong>
              Is a lawyer and a financial expert with a degree and diploma in accounting. She is the financial director of RAD and comes with vast experience from the business sector where she has started her own small scale businesses in jewelry making and designing, liquid soap making among others. She has trained different individuals at all levels and in different NGO’s and she brings all that experience to market and train our refugee women groups in formulating new products that increase household income. Don’t be fooled as well she is a good Mukiga wrestler at her clan level. As one that has seen and lived with migrants she
              as well brings a lot of commitment and zeal to see improvement of refugee lives in Uganda. </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="space-50"></div>

<div class="white-bg pd-t-80 pd-b-30">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="center-title">
          <h3>become a volunteer</h3>
          <p class="lead">
              <strong>Becoming a volunteer at RAD Uganda is very easy. All you need to do is drop us a line <a href="/contacts/new">here</a> and one of our dedicated staff will get back to you
              with details of how to get started.</strong>
          </p>
          <br>
          <!-- <a href="#" class="btn btn-theme-bg btn-lg">Join us now</a> -->

        </div>
      </div>
    </div>
  </div>
</div>
