<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 margin-b-30">
                <h4>About the organisation</h4>
                <p>
                   As our motto says teach one to fish and they shall eat for a lifetime, we believe the dependency of refugees on relief aid has kept them dependant on the mercies of the donors and short term relief programming other than development long term plans.
                </p>
                <div class="f-contact">
                    <p><i class="fa fa-home"></i> 124, Namuli Road, Uganda</p>
                    <p><i class="fa fa-phone-square"></i> +256 77 2627627</p>
                    <p><i class="fa fa-envelope-square"></i> admin@raduganda.com</p>
                </div>
            </div><!--end col-->
          <!--   <div class="col-sm-4 margin-b-30">
                <h4>Latest News</h4>
                <ul class="list-unstyled latest-news">
                    <li class="clearfix">
                        <div class="pull-left post-thumb">
                            <a href="#">
                                <img src="/images/img1.jpg" alt="" class="img-responsive" width="90">
                            </a>
                        </div><!--thumb-->
  <!--                       <div class="content">
                            <a href="#">
                                <h5>African Child education</h5>
                            </a>
                            <div>
                                <span><i class="fa fa-comments"></i> 23</span>
                                <span><i class="fa fa-thumbs-up"></i> 238</span>
                            </div>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
                            </p>
                        </div>
                    </li><!--news li end-->
                <!--     <li class="clearfix">
                        <div class="pull-left post-thumb">
                            <a href="#">
                                <img src="/images/img2.jpg" alt="" class="img-responsive" width="90">
                            </a>
                        </div><!--thumb-->
                       <!--  <div class="content">
                            <a href="#">
                                <h5>Save the poor life.</h5>
                            </a>
                            <div>
                                <span><i class="fa fa-comments"></i> 23</span>
                                <span><i class="fa fa-thumbs-up"></i> 238</span>
                            </div>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
                            </p>
                        </div> -->
                    <!-- </li>news li end -->
                <!-- </ul> -->
            <!-- </div> --><!--end col--> 
            <div class="col-sm-6 margin-b-30">
                <h4>Social media handles.</h4>
                <p>
                    Through our social media handles, you are able to follow us and 
                    get up the minute information.
                </p>
                <!-- <form class="subscribe-form margin-b-30">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter your email">
                    </div>
                    <input class="btn btn-white-bg" type="submit" value="Subscribe">
                </form> -->
                <ul class="list-inline f-socials">
                    <li><a href="https://www.facebook.com/RAD-Uganda-222023468297920/?ref=br_rs" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div><!--end col-->
        </div>
    </div>
    <div class="container text-center text-copyright">
        <span>&copy; 2016 Powered by <a href='www.therailsshop.club'>Therailsshop</a>.</span>
    </div>
</footer>
